player-connection-mode=Listen
player-connection-guid=733669951
player-connection-debug=1
player-connection-project-name=First project
player-connection-ip=192.168.56.1
player-connection-ip=192.168.2.238
wait-for-native-debugger=0
wait-for-managed-debugger=0
managed-debugger-fixed-port=0
hdr-display-enabled=0
gc-max-time-slice=3
profiler-enable-deep-profiling-support=1
build-guid=0c6efee2731345ebae3bf347aaf20b63
